@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  scroll-behavior: smooth;
  color: #8b8a91;
  background: #14131a;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 0%, 0.4);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 0%, 0.5);
}